---
import MainLayout from "../../layouts/MainLayout.astro";
import MarkdownRenderer from "../../components/MarkdownRenderer";
import Save from "../../components/action/Save";
import Like from "../../components/action/Like";

const { blog } = Astro.params;

interface Post {
  title: string;
  slug: string;
  author: {
    name: string;
    slug: string;
  };
  date: string;
  tag: {
    name: string;
    slug: string;
  }[];
  content: string;
}

const query = {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      {
        posts {
          title
          slug
          author {
            name
            slug
          }
          tag {
            name
            slug
          }
          date
          content
        }
      }`,
  }),
};

const response = await fetch(import.meta.env.HYGRAPH_API, query);
const json = await response.json();
const post: Post | null = json.data.posts.find((p: Post) => p.slug === blog);


function formatDate(isoDate: string) {
  const [year, month, day] = isoDate.split('-').map(Number);
  const date = new Date(year, month - 1, day);
  if (isNaN(date.getTime())) throw new Error('Invalid date');

  const months = [
    'January', 'February', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December'
  ];

  return `${day} ${months[month - 1]}, ${year}`;
}
---

<MainLayout>
  <div class="w-full lg:max-w-4xl mx-auto py-10 pb-5 px-5 space-y-5">
    <h1 class="text-3xl sm:text-5xl font-extrabold text-center pb-10">{post?.title}</h1>
    <div class="text-gray-400 text-center">
      <a 
        href={`/blogs/author/${post?.author.slug}`} 
        class="text-lg font-normal text-orange-500 hover:text-orange-300 transition-colors">
          {post?.author.name}
      </a>

      <span class="mx-2">•</span>
      <span class="font-light">{formatDate(post?.date!)}</span>
    </div>

    <!-- Tag Section -->
    <div class="flex flex-wrap gap-3 justify-center pb-10">
      {post?.tag.map(({ name, slug }) => (
        <a
          href={`/blogs/tag/${slug}`}
          class="inline-block px-6 py-3 rounded-[16px] bg-[#14100f] 
          text-orange-400 border border-[#3a2a1e] hover:bg-[#1e1917] hover:border-[#5a3a1e] 
          transition-colors cursor-pointer"
        >
          #{name}
        </a>
      ))}
    </div>

    <div class="w-full flex justify-between items-center">
        <Like client:load slug={post?.slug!} title={post?.title!} />
        <Save client:load slug={post?.slug!} title={post?.title!} />
    </div>

    <div class="w-full md:max-w-4xl mt-10 text-gray-300">
      <MarkdownRenderer content={post?.content!} />
    </div>
  </div>
</MainLayout>